*{
	margin:0px;
	padding: 0px;
}

body{
	font-family: 'Work Sans', sans-serif;
}

.bg-black{
	background: black;
}

.mobile_nav, .mobile_main{
	display: none;
}

.mobile_main{
	padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
}

/*.mobile_main > div{
	width: 16.66667%;
}
*/
.mobile_main img{
	border-radius: 50%!important;
    width: 100%;
    border: 1px solid #e1e4e8!important;
}

.mobile_nav > nav{
	padding: 1rem;
	display: flex;
}

.d-flex{
	display: flex;
}

#bread_icon{
	cursor: pointer;
}

#bread_icon:hover{
	fill: #ffffffb3;
}

.w-15{
	width: 15%;
}

.w-17{
	width: 17%;
}

.w-85{
	width: 85%;
}

.text-center{
	text-align: center;
}

.w-70{
	width: 70%;
}

nav a.Header-link {
	text-align: center;
    display: inherit;
}

body > header > section.mobile_nav > nav > div:nth-child(1){
	padding-top: 3px;
}

body > header > section.mobile_nav > nav > div:nth-child(3){
	padding-top: 4px;
}